body {
  background-color: black;
}

#calculator {
    width:400px;
    height:500px;
    background-color:aliceblue;
    margin:100px auto;
}

#calculation_screen {
    height:12vh;
    background-color: red;
}

button {
    width: 50px;
    height:50px;
    border-radius: 50%;
    margin:20px 20px;
    font-size: 2rem;
    cursor: pointer;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}