* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
  background-color: #1e1d1d;

}

#calculator {
    width:340px;
    height:560px;
    background-color:black;
    margin:100px auto;
    border: 1px solid azure;
}

.disable_button {
    background-color: grey;
}

input {
    height:12vh;
    width:340px;
    background-color: black;
    font-weight: bold;
    font-size: 2rem;
    color:azure;
    text-align: end;
     /* border: 2px solid azure; */

}

button {
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin:15px auto;
    font-size: 2rem;
    cursor: pointer;
    background-color: #1e1d1d;
    color:azure;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-height:1000px) {
    #calculator {
        height:560px;
    }
}